* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.myContainer {
    background-color: rgba(2, 2, 2, 1);
    padding-bottom: 4%;
}

.myLastContainer {
    display: block;
    justify-content: center;
    align-items: flex-start;
    padding-top: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
}

.myRow {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#ijpoa {
    height: 4em;
    width: 10em;
}

#itxxf {
    display: block;
    padding-top: 1%;
    padding-right: 0%;
    padding-bottom: 1%;
    padding-left: 5%;
}

#iuy3v {
    display: block;
    padding-top: 1%;
    padding-right: 0%;
    padding-bottom: 1%;
    padding-left: 5%;
}

#inn0t {
    display: block;
    padding-top: 1%;
    padding-right: 0%;
    padding-bottom: 1%;
    padding-left: 5%;
}

#igitc {
    padding-right: 1%;
}

#in31r {
    padding-right: 1%;
}

